.wrapper {
  /* overflow: hidden; */

  /* margin: 75px auto 125px; */
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.186);
  /* z-index: -5; */

  top: 0;
  left: 0;
}
