/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

@font-face {
  font-family: "Sacramento";
  src: url("../src/assets/fonts/Sacramento-Regular.ttf");
}

::-webkit-scrollbar {
  margin: 10px;
  width: 8px;
  background-color: white;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
  padding: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #0f857c;
  width: 6px;
}

button {
  font-weight: bold;
}
