nav {
  margin: 10px 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, #0f857c 60%, #094e2776);
  color: #fff;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .logo-container {
      transform: translateY(5px);
    }
    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 20%;
      margin: 0;
      & li {
        cursor: pointer;
        font-size: 22px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.logo {
  font-size: 42px !important;
  font-family: "Sacramento" !important;
}

.router-link-active {
  border-bottom: 2px solid white;
}
